.office-room {
  border: 15px solid #cfcfcf;
  width: 1000px;
  height: 1000px;
  position: relative;
  box-sizing: content-box;

  .svg-workspace {
    box-sizing: border-box;
    position: absolute;
    padding: 10px;

    &:hover {
      cursor: pointer;
      padding: 10px;
      background-color: #bee5ff;
      filter: blur(1px);
    }


    + .north {
      // Default is north
    }

    + .west {
      transform: rotate(270deg);
    }

    + .east {
      transform: rotate(90deg);
    }

    + .south {
      transform: rotate(180deg);
    }
  }
}