$WALL_COLOR: #2e1f27;
$FLOOR: #f4c95d;

.office-room {
  border: 15px solid $WALL_COLOR;
  width: 1000px;
  height: 1000px;
  position: relative;
  box-sizing: content-box;
  //background-image: url("assets/office-background-1.jpg");
  background-color: #f4c95d;
  //background-size: 500px 500px;
  background-repeat: repeat;
  border-radius: 5px;
  .offline {
    box-shadow: inset 0 0 30px 0px #F44336;
  }

  .online {
    box-shadow: inset 0 0 30px 0px #4CAF50;
  }

  .busy {
    box-shadow: inset 0 0 30px 0px #ff9800;
  }

  .wall {
    //border-color: #cfcfcf;
    //border-style: solid;
    position: absolute;
    background: $WALL_COLOR;
    //opacity: .3;
    //box-sizing: content-box;
    //background: #111;
    //opacity: .3;
  }

  .door {
    background: darken($FLOOR, 5);
    position: absolute;
  }

  .svg-workspace {
    border-radius: 3px;
    box-sizing: border-box;
    position: absolute;
    padding: 10px;

    &:hover {
      cursor: pointer;
      padding: 10px;
      background-color: lighten($FLOOR, 10);
      filter: blur(1px);
    }
  }

  .north {
    // default state
  }

  .west {
    transform: rotate(270deg);
  }

  .east {

    transform: rotate(90deg);
  }

  .south {
    transform: rotate(180deg);
  }

  .dragged {
    border: 1px solid red;
    z-index: 1;
  }
}

.editable-office {
  svg {
    border: 1px solid #2196f3;
  }
}