.office-room {
  border: 15px solid #cfcfcf;
  width: 1000px;
  height: 1000px;
  position: relative;
  box-sizing: content-box;

  .svg-workspace {
    box-sizing: border-box;
    position: absolute;
    padding: 10px;

    &:hover {
      cursor: pointer;
      padding: 10px;
      background-color: #bee5ff;
      filter: blur(1px);
    }
  }

  .north {
    // default state
  }

  .west {
    transform: rotate(270deg);
  }

  .east {

    transform: rotate(90deg);
  }

  .south {
    transform: rotate(180deg);
  }

  .dragged {
    border: 1px solid red;
    z-index: 1;
  }
}
.editable-office {
  svg {
    border: 1px solid #2196f3;
  }
}